* {
    margin: 0%;
    border: solid 1px red;
    font-family: "Epilogue", sans-serif;
}

.noir {
    background: rgb(37, 36, 36);
    color: white;
}

.flex {
    display: flex;
    gap: 20px;
    align-items: center;
}

.container {
    max-width: 850px;
    margin: auto;
}

.container_hb {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    align-items: center;
    margin: auto;
    padding: 10px 0 30px 0;
}

.cardwrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.card {
    display: flex;
    gap: 30px;
    flex-direction: column;
    max-width: 270px;
}

.card_service {
    display: flex;
    gap: 30px;
    flex-direction: column;
    max-width: 200px;
}

.end_card {
    display: flex;

    .profil {
        width: 30%;
        border-radius: 100%;
        overflow: hidden;
    }
}

.stars {
    display: flex;
}

.colend {
    display: flex;
    flex-direction: column;
}

header {
    padding-bottom: 50px;

    nav {
        a {
            color: white;
            padding: 5px 10px 10px 0;
        }
    }

    #text_header {
        h2 {
            font-size: 17px;
            line-height: 26px;
        }

        h1 {
            font-size: 60px;
            font-weight: 400;
        }

        a {
            display: inline-block;
            padding: 20px 40px;
            color: black;
            text-decoration: none;
            background-color: white;
        }
    }
}

#hero {
    padding-block: 50px;

    h2 {
        padding-block: 30px;
        text-align: center;
    }
}

#Sponsor {
    padding-block: 30px;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

#sec_carte {
    padding-block: 50px;

    H2 {
        padding-block: 30px;
        text-align: center;
    }
}

#sec_cartetwo {
    padding-block: 50px;

    H2 {
        padding-block: 30px;
    }

    .card {
        background-color: rgb(244, 240, 240);
    }
}