* {
    margin: 0%;
    border: solid 1px red;
}

.noir {
    background: black;
    color: white;
}

.flex {
    display: flex;
    gap: 20px;
    align-items: center;
}

.container {
    max-width: 900px;
    margin: auto;
}

header .flex,
.container {
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;

    nav {
        a {
            color: white;
            padding: 5px;
        }
    }
}