* {
    margin: 0%;
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
}

.noir {
    background: rgb(45, 45, 45);
    color: white;
}

.flex {
    display: flex;
    gap: 20px;
    align-items: center;
}

.container {
    max-width: 850px;
    margin: auto;
}

.container_hb {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    align-items: center;
    margin: auto;
    padding: 10px 0 30px 0;
}

.cardwrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.card {
    display: flex;
    padding: 40px 10px;
    gap: 30px;
    flex-direction: column;
    justify-content: space-between;
    max-width: 270px;

    H3 {
        font-size: 18;
        font-weight: 600;
    }

    p {
        font-size: 15px;
    }
}

.card_service {
    display: flex;
    gap: 30px;
    flex-direction: column;
    max-width: 200px;
}

.end_card {
    display: flex;

    .profil {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        overflow: hidden;
    }
}

header {
    padding-bottom: 100px;

    nav {
        a {
            color: white;
            padding: 5px 10px 10px 0;
        }
    }

    #text_header {
        h2 {
            font-size: 17px;
            line-height: 26px;
            padding: 10px;
        }

        h1 {
            font-size: 60px;
            font-weight: 700;
            padding: 10px;
        }

        p {
            font-size: 14px;
            font-weight: 200;
            padding: 10px;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            padding: 20px 40px;
            color: black;
            text-decoration: none;
            background-color: white;
        }
    }
}

#hero {
    padding-block: 50px;

    h2 {
        padding-block: 30px;
        text-align: center;
        font-size: 28px;
        font-weight: 600;
    }
}

#Sponsor {
    padding-block: 30px;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

#sec_carte {
    padding-block: 50px;

    H2 {
        padding-block: 30px;
        text-align: center;
    }
}

#sec_cartetwo {
    padding-block: 50px;

    H2 {
        padding-block: 30px;
        text-align: center;
    }

    .card {
        background-color: rgb(244, 240, 240);
    }
}

footer {
    padding: 50px;

    h2 {
        width: 1000px;
        margin: auto;
        text-align: center;
        margin-bottom: 50px;
    }

    #foot_gauche {
        max-width: 400px;

        I {
            padding: 20px;
        }
    }

    #foot_droit {
        form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            input {
                padding: 10px;
                width: 300px;
            }
        }

        button {
            color: #252424;
            background-color: white;
            padding: 15px 70px;
            margin-top: 10px;
        }
    }
}